body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#myButoon{
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 2rem;
}
.mylabels{
    margin-top: 45px;

    padding-top: 5px;
    font-size: 3rem;

}