body{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:10%;
    width: 100%;
}
div{
    background-color: hsla(0, 0%, 30%, 0.5);
    color: white;
    border: 5px solid;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: block;
    text-align:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 200px;
    max-width: 300px;
    margin: auto;

}
#cont{
    text-align: center;
    font-size: larger;
    background-color: transparent;
    color: red;
    border: none;

}
h1{
    text-align: center;
}